/* CSS Document */
#dv1{
  border:1px solid #FF0000;
  height:350px;
  width:300px;
 /* padding:50px 0px 0px 100px;
  float:left*/
  
  
}

#dv2{
  border:1px solid #000099;
  width:200px;
  height:200px;
  /*margin:50px 0px 0px 50px;*/
  /*margin:50px;*/
  margin:atuo

}
#dv3{
  border:1px solid #FF6600;
  width:400px;
  height:400px;
  float:right
}