*{
    margin:0;
    padding:0;
}
body{
    background:url(../img_gateway/dabeijing.png) no-repeat;
}
#main{

}

.top_menu{
    height:55px;
    width:100%;
    border-bottom: 1px solid #D7D7D7;
}
.top_menu ul{
    font-family: "Microsoft YaHei";
    font-size:18px;
    height:55px;
    width:930px;
    list-style-type: none;

    margin:auto;
}
.top_menu ul li a{
    border-radius:5px;
    height:40px;
    width:153px;
    color:#2f3238;
    line-height:40px;
    text-align:center;
    text-decoration:none;
    float:left;
    margin-top:10px;
}
.top_menu ul .restart{
    background-color: #FD5F56;
    color:white;
}
.content{
    width:900px;
    height:320px;
    background-color:#ffffff;
    box-shadow:3px 3px 3px #E3E3E4;
    margin:auto;
}
.content{
    margin-top:40px;
}
.content .main{
    width:600px;
    height:200px;
    margin:auto;
    padding-top:80px;
}
.content .main p{
    display:block;
    width:600px;
    height:30px;
    font-family:"Microsoft YaHei";
    font-size:20px;
    color:#424146;
    text-align:center;
    letter-spacing:2px;
    padding:20px 0 20px;

}
.content .main p input{
    border:none;
    display:block;
    width:155px;
    height:30px;
    font-family:"Microsoft YaHei";
    font-size:16px;
    color:#ffffff;
    cursor:pointer;
    outline:medium;
    background-color:#FD5F56;
    margin:auto;
}